/* =================================
    CATEGORY SLIDER
================================= */


.category-section{


background:white;

padding:25px;

margin-top:20px;

border-radius:12px;


}




.category-section h2{


font-size:24px;

margin-bottom:20px;

color:#212121;


}





.category-slider{


display:flex;

gap:25px;

overflow-x:auto;

scroll-behavior:smooth;


}





.category-slider::-webkit-scrollbar{


display:none;


}





.category-card{


min-width:160px;

height:170px;

background:#fff;

border-radius:10px;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

cursor:pointer;

transition:.3s;


box-shadow:

0 2px 8px rgba(0,0,0,.12);


}





.category-card:hover{


transform:translateY(-8px);

box-shadow:

0 8px 20px rgba(0,0,0,.18);


}





.category-card img{


width:90px;

height:90px;

object-fit:contain;

margin-bottom:15px;


}





.category-card h3{


font-size:16px;

font-weight:600;

color:#333;


}








@media(max-width:768px){


.category-card{


min-width:130px;

height:150px;


}


.category-card img{


width:70px;

height:70px;


}



}