.user-header{

    width:100%;

    background:#ffffff;

    color:white;

    padding:15px 35px;

    display:flex;

    justify-content:space-between;

    align-items:center;

}


.top-right{

    display:flex;

    align-items:center;

    gap:25px;

}

/* ===============================
   WHITE NAVBAR TEXT COLORS
================================ */


.details-navbar{

    background:#ffffff;

}



.welcome-box h3{

    color:#111111;

    font-weight:600;

}

#userName{
	

    color:#111111;

    font-weight:600;


	
}


/* Username Highlight */

.details-welcome h3 span{

    color:#2874f0;   /* Flipkart Blue */

}





/* Subtitle */

.details-welcome p{

    color:#6b7280;   /* Soft Gray */

}





/* Icons */

.details-nav-icon .material-icons{

    color:#374151;   /* Dark Gray */

    transition:0.3s;

}


.details-nav-icon:hover .material-icons{

    color:#2874f0;

}






/* Badge */

.details-badge{

    background:#fb641b;  /* Orange */

    color:#ffffff;

}





/* User Profile Name */

.details-user-profile h4{

    color:#111827;

    font-weight:600;

}





/* User Email */

.details-user-profile small{

    color:#6b7280;

}